@import '../../colours.css';

.PersonDrawer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 55px;
    background-color: var(--bkgd);
    color: var(--txt1);
}

.PersonDrawer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.InfoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 20px 0;
}

.InfoHeader > h1 {
    font-size: var(--text-drawer-title);
    font-weight: var(--font-semibold);
    margin: 5px 0;
    text-align: center;
}

.InfoHeader > h2 {
    font-size: var(--text-normal);
    font-weight: var(--font-regular);
    color: var(--txt2);
    margin: 0;
    text-align: center;
}

.InfoContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0;
    align-self: flex-start;
}

.InfoContentPadding {
    padding: 0 50px;
}

.InfoContent > p {
    font-size: var(--text-normal);
    font-weight: var(--font-normal);
    margin: 15px 0;
    color: var(--txt4);
}

.KnownText {
    font-weight: var(--font-normal);
    color: var(--txt2);
}

.SocialMediaContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Icon {
    height: 36px;
    width: 36px;
}

.EditButton {
    width: 80px;
    margin-top: 25px;
}

.ButtonText {
    font-size: var(--text-medium);
}