.PersonPage {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: none;
}

.ContentContainer {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    padding: 0 60px;
    overflow-y: none;
}

.TitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 805px;
}

.TitleContainer > h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    margin: 0;
}

.ButtonContainer {
    margin-top: 20px;
}

.EncountersContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.CardWrapper {
    margin: 0 40px 40px 0;
}

.DeleteModal {
    width: 400px;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.DeleteModal > h1 {
    color: #E05A33;
    font-size: var(--text-xxlarge);
    text-align: center;
    font-weight: 600;
}

.DeleteModal > p {
    text-align: center;
    font-size: var(--text-large);
}