.PersonPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ContentContainer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: none;
    box-sizing: border-box;
    padding: 0 60px;
}

.TitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 80px;
    margin-bottom: 50px;
}

.TitleContainer > h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    margin: 0;
}

.ButtonContainer {
    margin-top: 20px;
}

.EncountersContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background-color: blanchedalmond;
}

.CardWrapper {
    margin: 0 40px 40px 0;
}