@import '../../colours.css';

.inputLabelPrimary {
    font-size: var(--text-medium);
    font-weight: var(--font-medium);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.inputLabelSecondary {
    font-size: var(--text-medium);
    font-weight: var(--font-medium);
    text-align: center;
    vertical-align: middle;
}

.inputLabelMultiLine {
    font-size: var(--text-medium);
    font-weight: var(--font-bold);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.inputFieldPrimary{
    font-size: var(--text-normal);
    width: 340px;
    height: 35px;
    border-radius: var(--radius-btn);
    border: 1.5px solid var(--bord);
    box-shadow: none;
    margin-top: 8px;
    padding: 10px;
    padding-left: 18px;
    font-family: 'Poppins', sans-serif;
}

.inputFieldSecondary{
    font-size: var(--text-medium);
    width: 245px;
    height: 40px;
    border-radius: var(--radius-btn);
    margin-left: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.inputFieldMultiLine {
    font-family: 'Poppins', sans-serif;
    font-size: var(--text-small);
    width: 780px;
    height: 350px;
    border-radius: var(--radius-btn);
    margin-top: 5px;
    padding: 20px;
    resize: none;
}