@import  '../../colours.css';

.EncounterCardSummary{
    height: 220px;
    width:245px;
    cursor: pointer;
    border-radius: var(--radius-card);
    background-color: var(--card);
    transition: 0.3s;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
