@import '../../colours.css';

/* Custom Dark Mode Toggle Element */

/* .toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 320px;
    margin-top: -29px;
} */

.toggle-theme-wrapper span {
    font-size: 28px;
    margin: 0 4px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 66px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #FDFDFF;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
}

.slider:before {
    background-color: #5A5A5A;
    bottom: 2px;
    content: "";
    height: 26px;
    left: 5px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}

input:checked + .slider:before {
    transform: translateX(26px);
	background-color: #F3D58A;
}

input:checked + .slider {
    background-color: var(--bkgd);
}

.slider.round {
    border-radius: 34px;
    border-style: solid;
    border-color: var(--line);
    border-width: 2px;
}

.slider.round:before {
    border-radius: 50%;
}
