.SettingsPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 70px;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
