.SettingsPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 70px 35px;
  max-width: 1080px;
  min-width: 500px;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SettingsPage > h1 {
  margin: 0;
  font-weight: 600;
  font-size: var(--text-xxlarge);
}

.ContentContainer > h2 {
  font-size: var(--text-large);
  font-weight: 500;
  border-bottom: solid 1px var(--bord);
  width: 100%;
  padding-top: 25px;
}

.DetailSet {

}


.DetailSet > h4 {
  font-size: var(--text-normal);
  font-weight: 400;
  margin: 0;
  margin-top: 15px;
}


.DetailSet > p {
  font-size: var(--text-small);
  color: var(--txt2);
  margin: 0;
  margin-top: 3px
}

.Button {
  margin-top: 40px;
  font-size: var(--text-small);
  height: 40px;
}

.DarkModeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.DarkModeContainer > p {
  font-weight: 400;
  font-size: var(--text-normal);
  margin-right: 50px;
}

.TogglerContainer {
  margin-top: 5px;
}