@import '../../colours.css';

.PersonCard {
    width: 680px;
    height: 150px;
    border-radius: var(--radius-card);
    background-color: var(--card);
    transition: 0.3s;
    display: flex;
    padding: 28px;
    box-sizing: border-box;
    cursor: pointer;
}

.ContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PersonCard:hover {
    background-color: var(--hilit);
}

.InformationContainer {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.MainInformationContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.IdentityInformation {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.IdentityInformation > h2 {
    font-size: var(--text-card-title);
    font-weight: 600;
    /* line-height: 0; */
    margin: 0
}

.IdentityInformation > p {
    font-size: var(--text-card-body-large);
    /* line-height: 0; */
    margin: 2px 0;
    color: var(--ltxt2)
}

.SupplementaryInformationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SupplementaryInformationContainer > p {
    margin: 0;
    font-size: var(--text-card-body-normal);
    color: var(--ltxt2)
}

.SupplementaryInformationContainer > div {
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.IconButton {
    align-self: flex-start;
}

