.Loading {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContentContainer > p {
    font-size: var(--text-large);
    margin-top: 30px;
}

.Loader {
    color: lightblue
}