@import '../../colours.css';
@import '../../index.css';

.Background{
    background-color: var(--prmry);
    height: 100vh;
    position: relative;
}

.InnerBox{
    background-color: var(--bkgd);
    width:80%;
    height: 80vh;
    margin: auto;
    padding-top: 10px;
    border-radius: 13px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;

}

.WelcomeBackText{
    text-align: center;
    margin-top: 10%;
    font-size: var(--text-xxlarge);
    font-weight: var(--font-semibold);
    display: inline-block;

}

.SignInButton{
    background-color: var(--prmry);
    width: 420px;
    height: 60px;
    font-size: var(--text-medium);
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.SignInText{
    margin-top: 18px;
    width: 200px;
    float: right;
    margin-right: 90px;
    font-size: var(--text-normal);
    font-weight: var(--font-light);
}


.GoogleLoginImage{
    float: left;
    margin-left: 90px;
    margin-top: 18px;
    height: 30px;
    width: 30px;
}

.CreateAccountText{
    width: 420px;
    text-align: center;
    position: center;
    display: inline-block;
}

.Logo{
    width:250px;
    margin-top: 10%;
    display: inline-block;
}
