@import '../../colours.css';

.PersonCardSummary {
    height: 120px;
    width: 240px;
    border-radius: var(--radius-card);
    background-color: var(--card);
    transition: 0.3s;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.ContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PersonCardSummary:hover{ 
    background-color: var(--prmry);
}

.TextInfoContainer {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: lightblue;
}