
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    border-radius: var(--radius-btn);
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    user-select: none;
    background-color: var(--bkgd);
}

.Button:hover{
    background-color: var(--hilit);
}

.Text{
    color: black;
    font-size: 18px;
    line-height: 0px;
    font-family: 'Poppins', sans-serif;
}

