.home_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 35px;
    margin-top: 70px;
    margin-right: 490px; /* accounts for summary panel + margin */
    min-width: 805px;
    max-width: 1565px;
}

.home_title {
    font-size: var(--text-xxlarge);
    font-weight: var(--font-semibold);
}

.home_searchArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 26px;
    max-width: 1055px;
}

.home_newEntryBtn {
    flex-shrink: 0;
    height: auto;
}

.body_container{
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home_subtitleContainer {
    max-width: 1055px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.home_subtitle {
    font-size: var(--text-xlarge);
    font-weight: var(--font-semibold);
}

/* ----- CARD GRIDS ----- */

.home_cardGridContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    gap: 30px;
    row-gap: 24px;
    overflow-y: hidden; /* cut off all extra ones that don't fit in the two rows */
}

.home_personGridContainer {
    max-height: 265px; /* 2 rows */
}


.home_encounterGridContainer {
    max-height: 470px; /* 2 rows */
}

/* ----- MODAL ----- */

.home_modalTitle {
    font-weight: var(--font-semibold);
    font-size: var(--text-xxlarge);
    text-align: center;

}

.home_modalButtonsContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
}

.home_verticalBreak {
    border-left: 1px solid var(--txt2);
    height: 120px;
}

@media only screen and (min-width: 1900px)  {
    .home_container{
        max-width: 2400px;
    }
    .body_container{
        max-width: 2400px;
    }
}