.scales {
    display: flex;
    margin-left: auto; 
    margin-right: 0;
  }
 .description {
    width: 915px;
    margin-left: 29px;
    color: #313131;
    display: flex;
    justify-content: space-between;
}

.descriptionScales {
    display: flex;
}

.streaks0 {
    background: #eeeeee;
    fill: #eeeeee;
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 50%;
}
  
.streaks1 {
    background:#F3D58A ;
    fill: #F3D58A;
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 50%;
}
  
.streaks2 {
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 50%;
    fill: #ecc769;
    background: #ecc769;
}
  
.streaks3 {
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 50%;
    fill: #ebb429;
    background: #ebb429;
}
  
.streaks4 {
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 50%;
    fill: #d89d07;
    background: #d89d07;
}
.streaks5 {
    width: 14px;
    height: 14px;
    margin: 5px;
    border-radius: 50%;
    fill: #d80707;
    background:#d80707;
}
