# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: backend_ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
  
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: create env file
      run: |
       touch .env
       echo FIREBASE_TEST_AUTH_EMAIL=${{ secrets.FIREBASE_TEST_AUTH_EMAIL }} >> .env
       echo FIREBASE_TEST_AUTH_KEY=${{ secrets.FIREBASE_TEST_AUTH_KEY }} >> .env
       echo FIREBASE_TEST_AUTH_PASS=${{ secrets.FIREBASE_TEST_AUTH_PASS }} >> .env
       echo MONGODB_URI=${{ secrets.MONGODB_URI }} >> .env
       echo PORT=${{ secrets.PORT }} >> .env
        
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm --prefix ./backend i
    - run: npm --prefix ./backend run lint
    - run: npm --prefix ./backend run test
    - run: npm --prefix ./backend run build --if-present
