@import "../../colours.css";

.searchFilterBox {
    display: flex;
    flex-direction: column;
    background-color: var(--bkgd);
    border-style: solid;
    width: fit-content;
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.selectedButton {
    background-color: var(--prmry);
}

.filterSelectionPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hiddenPanel {
    display: none;
}

.homeFilter {
    position: relative;
    bottom: 20px;
}

.personFilter {
    position: relative;
    bottom: 20px;
}

.encounterFilter {
    position: relative;
    bottom: 20px;
}