@import "../../colours.css";

.searchFilterBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    width: fit-content;
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.homePosition {
    position: relative;
    bottom: 20px;
}

.personPosition {
    position: relative;
    bottom: 90px;
}

.encounterPosition {
    position: relative;
    bottom: 120px;
}

.filterSelectionPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hiddenPanel {
    visibility: hidden;
}